@font-face {
  font-family: "HumanBBYWeb";
  src: url("../HumanBBY-55Regular-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HumanBBYWeb";
  src: url("../HumanBBY-75Bold-Web.woff2") format("woff2"),
    url("../HumanBBY-75Bold-Web.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "HumanBBYWeb";
  src: url("../HumanBBY-Web-65-Medium.woff") format("woff");
  font-weight: 600;
  font-style: medium;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L",
    "Liberation Sans", FreeSans, sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #000;
}

.frameSize {
  position: absolute;
  width: 300px;
  height: 250px;
  left: 0px;
  top: 0px;
}

#bb_logo {z-index: 50; transform: translateX(8px);}

#bg {
  z-index: 11;
}

#greetings, #svgGreetings {
  opacity: 0;
  z-index: 15;
}

#svgGreetings{display: none;}

.abso {
  position: absolute;
  display: block;
  top: 0px;
}

#openingFrame {
  display: block;
  z-index: 10;
}

#container {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 300px;
  height: 250px;
  overflow: hidden;
  opacity: 0;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
  letter-spacing: -0.5px;
}

#border {
  position: absolute;
  display: block;
  width: 298px;
  height: 248px;
  border: solid 1px black;
  pointer-events: none;
}

#non_splash_hold {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 300px;
  height: 250px;
}

#carousel {
  position: absolute;
  display: block;
  width: 270px;
  height: 126px;
  left: -300px;
  top: 54px;
  overflow: hidden;
  z-index: 12;
}

.prod {
  position: absolute;
  display: block;
  width: 270px;
  height: 126px;
  overflow: hidden;
  left: 300px;
  top: 0px;
}

.prod_img_hold {
  position: relative;
  width: 98px;
  height: 94px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.prod_img_hold_big {
  position: relative;
  width: 152px;
  height: 152px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.prod_img_hold img,
.prod_img_hold_big img {
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.prod_img {
  display: block;
  align-self: center;
}

.prod_info {
  position: absolute;
  display: block;
  width: 167px;
  height: 150px;
  left: 104px;
  top: -13px;
}

.prod_desc {
  position: absolute;
  display: -webkit-box;
  left: 0px;
  top: 30px;
  width: 100%;
  font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L",
    "Liberation Sans", FreeSans, sans-serif;
  color: #0d4ca7;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.3em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.prod_desc_big {
  position: absolute;
  display: block;
  left: 42px;
  top: 49px;
  width: 106px;
  font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L",
    "Liberation Sans", FreeSans, sans-serif;
  color: #0d4ca7;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.4em;
}


.prod_price {
  position: absolute;
  display: block;
  left: -3px;
  top: 74px;
  width: 140px;
  font-size: 21px;
  font-weight: bold;
  font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L",
    "Liberation Sans", FreeSans, sans-serif;
  color: #000;
  line-height: 0.2em;
  letter-spacing: -0.3px;
}

.prod_logo {
  position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: auto;
    height: 250px;
    z-index: 12;
}



.prod_btn {
  position: absolute;
  display: block;
  width: 300px;
  height: 150px;
  left: 0px;
  top: 0px;
  background-color: cornflowerblue;
  opacity: 0;
}

.arrow {
  position: absolute;  display: none;
  opacity: 0;  z-index: 13;
  top: 109px;
  width: 20px;
}

#arrow_left {
  left: 2px;
}

#arrow_right {
  left: 280px;
  rotate: 180deg;
}

#whiteBlock {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  background-color: #fff;
  width: 300px;
  height: 250px;
}

#cta_hold {
  position: absolute;
  display: block;
  width: 300px;
  height: 32px;
  top: 141px;
  z-index: 12;
}

#cta_bg {
  position: absolute;
  width: 100px;
  height: 26px;
  border-radius: 2px;
  left: 119px;
  background-color: #fff200
}

#cta_copy {
  color: rgb(0, 0, 0);
  font-size: 11px;
  letter-spacing: -.01em;
  position: absolute;
  text-align: center;
  pointer-events: none;
  font-weight: 600;
}

#footer_btn {
  position: absolute;
  display: block;
  width: 300px;
  height: 100px;
  left: 0px;
  top: 150px;
  background-color: cornflowerblue;
  opacity: 0;
}

#legal_txt {
  position: absolute;
  top: 237px;
  left: 241px;
  font-size: 7px;
  color: #fff;
  width: 200px;
  letter-spacing: -0.6px;
  z-index: 13;
  font-weight: normal;
  /* opacity: 0; */
}

.irc {
  font-size: 12px;
  line-height: 10px;
}

.dollarSign {
  margin-left: 3px;
}

#default_img {
  position: absolute;
  display: none;
  left: 0px;
  width: 300px;
  height: 250px;
  z-index: 12;
}

#non_splash {
  position: absolute;
  display: block;
  left: 0px;
}
#upperBorder,#footer_hold {  z-index: 10;}
#footer_hold {opacity: 0;}

#upperBorder {
  position: absolute;
  width: 300px;
  height: 0px;
  top: 125px;
  left: 0px;
  background: #fff;
}

#footer_bg {
  position: absolute;
  width: 300px;
  left: 0px; 
  top: 0px;
  /* top: 300px; */
}

.ball {
  position: absolute;
  width: 26px; opacity: 0;
}

#ballContainer {top: 178px; overflow: hidden;}

  #ball1 {top: 8px; right: 11px; width: 30px;}
  #ball2 {right: 20px; top: -10px; width: 30px}
  #ball3 {right: 40px; top: -12px}
  #ball4 {right: 30px; top: 14px}
  #ball5 {right: 17px; top: 19px}
  #ball6 {right: -8px; top: 20px; width: 30px}
  #ball7 {right: 2px; top: -7px}
  #ball8 {right: -5px; top: -7px}
  #ball9 {right: 18px; top: -7px}
  #ball10 { right: 8px; top: -7px}
  #ball11 {right: 12px; top: -7px} 
  

